.controlsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--button-border-radius);
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
}

/* =========================
БУРГЕР
========================= */

.burger {
  width: 36px;
  height: 36px;
  position: relative;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;

  /* hover только когда меню закрыто */
  &:hover {
    border: var(--button-border);
    box-shadow: var(--box-shadow);
    background: none;
  }

  span {
    position: absolute;
    left: 6px;
    right: 6px;
    height: 2px;
    background: var(--text-color-primary);
    transition: all 0.3s ease;
  }

  span:nth-child(1) {
    top: 10px;
  }

  span:nth-child(2) {
    top: 17px;
  }

  span:nth-child(3) {
    top: 24px;
  }
}

/* =========================
OPEN состояние
========================= */

/* убираем рамку у бургера */
.controlsWrapper.open .burger {
  border: none;
  box-shadow: none;
}

/* рамка у всего блока */
.controlsWrapper.open {
  border: var(--button-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);
}

/* анимация крестика */
.controlsWrapper.open .burger span:nth-child(1) {
  transform: rotate(45deg);
  top: 17px;
}

.controlsWrapper.open .burger span:nth-child(2) {
  opacity: 0;
}

.controlsWrapper.open .burger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 17px;
}

/* =========================
МЕНЮ (слева от бургера)
========================= */

.controls {

  padding-left: var(--spacing-sm);
  display: flex;
  gap: 0.5rem;

  overflow: hidden;
  max-width: 0;
  opacity: 0;

  transition:
    max-width 0.3s ease,
    opacity 0.2s ease;
}

/* выезд справа → налево */
.controlsWrapper.open .controls {
  max-width: 200px; // подстрой под свои кнопки
  opacity: 1;
}

/* =========================
КНОПКИ
========================= */

.controls .columnButton {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--glass-stroke);
  box-shadow: none;
}

.controls .buttonIcon {
  width: 20px;
  height: 20px;
}

.controls .deleteButton:hover,
.controls .clearButton:hover {
  color: var(--danger-hover);
}
