@use "../../styles/variables.scss" as *;

.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $mainHied;
}

.link {
  margin-top: $spacing-md;
  color: $light-text-secondary;
  text-align: center;

  .dark & {
    color: $dark-text;
  }
}

.link a {
  color: $primary-color;
  text-decoration: none;

  .dark & {
    color: $dark-task;
  }
}

.link a:hover {
  text-decoration: underline;
}

.error {
  color: $danger-color;
  font-size: $font-size-lg;
  text-align: center;
}
