.task {
  margin-bottom: 1rem;
  border: 2px solid var(--glass-stroke);
  border-radius: 25px;
  box-shadow: var(--task-box-shadow);
  background: var(--glass-effect);
}

.header {
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--task-header);
  border-radius: 25px 25px 0px 0px;

  .controls {
    display: flex;
    gap: 0.5rem;

    .taskButton {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--glass-stroke);
      box-shadow: none;
    }

    .buttonIcon {
      width: 20px;
      height: 20px;
    }

    .buttonEditIcon {
      width: 16px;
      height: 16px;
    }

    .deleteButton {
      &:hover {
        color: var(--danger-hover);
      }
    }
  }
}

.body {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
