@use "../../styles/variables.scss" as *;

.task {
  padding: $spacing-md;
  margin-bottom: $spacing-sm;
  border-radius: $border-radius-md;
  box-shadow: $shadow-sm;
  background-color: $light-bg;

  &.isDragging {
    background-color: $light-hover;
  }

  .dark & {
    background-color: #374151;

    &.isDragging {
      background-color: $dark-hover;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-weight: 500;

  .dark & {
    color: $dark-text;
  }
}

.buttons {
  display: flex;
  gap: $spacing-sm;
}

button {
  display: flex;
  align-items: center;
  padding: $spacing-xs;
  border-radius: 20%;

  &:hover {
      background-color: $light-hover;
    }
}

.description {
  margin-top: $spacing-sm;
  font-size: $font-size-sm;
  color: $light-text-secondary;

  .dark & {
    color: $dark-text-secondary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.input {
  width: 100%;
  padding: $spacing-sm;
  border: 1px solid $light-border;
  border-radius: $border-radius-sm;

  .dark & {
    background-color: $dark-surface;
    border-color: $dark-border;
    color: $dark-text;
  }
}

.textarea {
  @extend .input;
  resize: vertical;
}

.formControls {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-sm;
}

.deleteButton {
  &:hover {
    color: $danger-hover;
  }
}

.submitButton {
  padding: $spacing-xs $spacing-md;
  font-size: $font-size-sm;
  background-color: $primary-color;
  color: $light-text;
  border-radius: $border-radius-sm;

  &:hover {
    background-color: $primary-hover;
  }
}
