@use "../../styles/variables.scss" as *;

.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $mainHied;
  background-color: $light-bg;
}

.redirect {
  margin-top: $spacing-md;
  color: $light-text-secondary;
  text-align: center;
}

.error {
  color: $danger-color;
  font-size: $font-size-sm;
  text-align: center;
}
