.authPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  color: var(--danger-color);
  font-size: var(--text-body);
  text-align: center;
}