.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

.formControls {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-sm);
}

.button {
  padding: 8px 20px;
}

