.form {
  background: var(--glass-effect);
  border: 1px solid var(--glass-stroke);
  border-radius: 25px;
  width: 321px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.formHeader {
  margin: 20px 20px 0;
  padding-bottom: 16px;
  border-bottom: 3px solid var(--glass-stroke);
  text-align: center;
}

.formContent {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
