.board {
  padding: 40px 40px;
}

.boardContainer {
  padding: 0;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--spacing-md);
  gap: var(--spacing-lg);
}

.addColumnButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  min-width: 170px;
  padding: 10px 10px;
}
