.board {
  padding: 40px 40px;
}

.boardContainer {
  padding: 0;
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
  gap: 2rem;
}

.addColumnButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 170px;
  padding: 10px 10px;
}
