.board {
  padding: 40px 30px;
  flex: 1;
}

.boardContainer {
  padding: 0;
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
  gap: 1rem;
}

.addColumnButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 170px;
  padding: 10px 10px;
}
