@use "../../styles/variables.scss" as *;

.column {
  background-color: white;
  border-radius: $border-radius-md;
  box-shadow: $shadow-md;
  width: 20rem;
  margin: 0 $spacing-sm;
  display: flex;
  flex-direction: column;

  .dark & {
    background-color: $dark-surface;
  }
}

.header {
  padding: $spacing-md;
  font-weight: bold;
  font-size: $font-size-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  border-bottom: 1px solid $light-border;

  .dark & {
    border-color: $dark-border;
    color: $dark-text;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  gap: $spacing-sm;

  button {
    display: flex;
    align-items: center;
    border-radius: 20%;
    padding: 2px 4px;

    &:hover {
      cursor: pointer;
      background-color: $light-hover;
    }
  }
}

.colorButton {
  padding: 2px;
}

.deleteButton {
  &:hover {
    color: $danger-hover;
  }
}

.clearButton {
  &:hover {
    color: $danger-hover;
  }
}

.dropArea {
  flex: 1;
  padding: $spacing-sm;
  min-height: 100px;

  &.isDraggingOver {
    background-color: $light-bg;

    .dark & {
      background-color: $dark-surface;
    }
  }
}
