.column {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  width: 20rem;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;

  .dark & {
    background-color: #1f2937;
  }
}

.header {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;

  .dark & {
    border-color: #374151;
  }
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.addButton {
  color: #4b5563;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  border-radius: 20%;

  &:hover {
    color: #1f2937;
    cursor: pointer;
    background-color: #99f6fc;
  }

  .dark & {
    color: #9ca3af;

    &:hover {
      color: #d1d5db;
    }
  }
}

.deleteButton {
  // color: #ef4444;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  border-radius: 20%;

  &:hover {
    color: #dc2626;
    cursor: pointer;
    background-color: #99f6fc;
  }

  .dark & {
    color: #f87171;

    &:hover {
      color: #ef4444;
    }
  }
}

.dropArea {
  flex: 1;
  padding: 0.5rem;
  min-height: 100px;

  &.isDraggingOver {
    background-color: #eff6ff;

    .dark & {
      background-color: #374151;
    }
  }
}
