// Colors
$primary-color: #3b82f6;
$primary-hover: #2563eb;
$danger-color: #ef4444;
$danger-hover: #dc2626;

// Light theme
$light-bg: #f3f4f6;
$light-surface: #bbbdd6;
$light-main: #cdced7;
$light-task: #f9fafb;
$light-text: #1f2937;
$light-text-secondary: #4b5563;
$light-border: #e5e7eb;
$light-hover: #d1d5db;

// Dark theme
$dark-bg: #111827;
$dark-surface: #1f2937;
$dark-main: #7d7d7d;
$dark-task: #374151;
$dark-text: #ffffff;
$dark-text-secondary: #9ca3af;
$dark-border: #374151;
$dark-hover: #4b5563;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

//Font size
$font-size-sm: 0.875rem;
$font-size-lg: 1.125rem;

// Border radius
$border-radius-sm: 0.375rem;
$border-radius-md: 0.5rem;
$border-radius-full: 9999px;

// Shadows
$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-md: 0 1px 3px rgba(0, 0, 0, 0.1);

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$mainHied: 84vh;

:root {
  /* ===== background ===== */
  --background-color: rgba(34, 30, 32, 1);
  --bg-image: url("../assets/background.png");

  /* ===== glass-effect ===== */
  --glass-effect: linear-gradient(
    135deg,
    rgba(239, 239, 239, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  --glass-stroke: rgba(239, 239, 239, 1);

  /* ===== task-header ===== */
  --task-header: linear-gradient(
    135deg,
    rgba(239, 239, 239, 0.6),
    rgba(255, 255, 255, 0.1)
  );

  /* ===== buttons ===== */
  --button-color: linear-gradient(
    135deg,
    rgba(221, 121, 5, 0.8) 0%,
    rgba(236, 25, 164, 0.8) 100%
  );

  --button-color-hover:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--button-color);
  --button-border-radius: 20px;
  --button-border: 1px solid var(--glass-stroke);
  --box-shadow: inset 0 0 6px var(--glass-stroke);
  --button-border-hover: 2px solid rgba(90, 85, 254, 1);
  --button-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);

  /* ===== colors ===== */
  --white-color: rgba(255, 255, 255, 1);
  --main-color: rgba(236, 25, 164, 0.8);
  --danger-color: #ef4444;
  --danger-hover: #dc2626;

  --task-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  --menu-color: #7d798c;

  /* ===== colors ===== */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}

:root[theme="dark"] {
  --glass-effect: linear-gradient(
    135deg,
    rgba(15.3, 15.3, 15.3, 0.8),
    rgba(0, 0, 0, 0.3)
  );
  --menu-color: var(--background-color);
}
