@use "./_variables.scss" as *;
@use "./typography" as *;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font: var(--text-body);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-base);
  margin: 0;
  padding: 0;
}

h1 {
  font: var(--text-h1);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-base);
}

h2 {
  font: var(--text-h2);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-base);
}

h3 {
  font: var(--text-h3);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-base);
}

.text-body {
  font: var(--text-body);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-base);
}

.text-body-dull {
  font: var(--text-body-dull);
  color: var(--text-color-primary);
  letter-spacing: var(--letter-spacing-base);
  opacity: 0.45;
}

button {
  cursor: pointer;
  color: var(--white-color);
  background: var(--button-color);
  border: var(--button-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);

  &:hover {
    background: var(--button-color-hover);
  }
}

.mainButton {
  padding: 8px 20px;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover{
    opacity: 0.6;
  }
}

.tooltip {
  position: relative;
  z-index: 10;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
