.authForm {
  background: var(--glass-effect);
  border: 1px solid var(--glass-stroke);
  border-radius: 25px;
  width: 321px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .formHeader {
    margin: 20px 20px 0;
    padding-bottom: 16px;
    border-bottom: 3px solid var(--glass-stroke);
    text-align: center;
  }

  .formContent {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputGroup {
    margin-top: 20px;
    width: 100%;
  }

  input {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    height: 41px;
    border: 2px solid rgba(239, 239, 239, 1);
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
      135deg,
      rgba(239, 239, 239, 0.05) 0%,
      rgba(255, 255, 255, 0.01) 100%
    );
    font: var(--text-body-dull);
    color: var(--text-color-primary);
    letter-spacing: var(--letter-spacing-base);

    &::placeholder {
      font: var(--text-body-dull);
      color: var(--text-color-primary);
      letter-spacing: var(--letter-spacing-base);
      opacity: 0.45;
    }
  }

  .submitButton {
    margin: 30px 0 20px;
    padding: 8px 20px;
  }
}

.error {
  color: var(--danger-color);
  font-size: var(--text-body);
  text-align: center;
}
