.header {
  position: relative;
  height: 150px;
  display: flex;
  background: var(--glass-effect);
  border-bottom: 1px solid var(--glass-stroke);
  box-sizing: border-box;
}

.img {
  width: 116px;
  margin: auto;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 40px;
  top:50px;
}

.themeButton {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .themeLogo {
    width: 24px;
  }
}
