@use "../../styles/variables.scss" as *;

.header {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 56px;
  background: var(--glass-effect);
  border-bottom: 1px solid var(--glass-stroke);
  box-sizing: border-box;
}

.img {
  width: 116px;
  position: absolute;
  top: 11%;
  left: 46.2%;
}

.addButton {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-sm $spacing-md;
  background-color: $primary-color;
  color: $light-text;
  border-radius: $border-radius-sm;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.themeButton {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .themeLogo {
    width: 40px;
    height: 40px;
  }
}
