.popup {
  background: var(--popup-bg);
  backdrop-filter: var(--popup-bg-filter);
  padding: 30px 40px;
  border: var(--border);
  border-radius: 25px;
  width: 321px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  animation: fadeIn 0.3s ease forwards;
  position: relative;
}

.columnButton {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--glass-stroke);
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}
