.popup {
  background: var(--popup-bg);
  backdrop-filter: var(--popup-bg-filter);

  border: var(--border);
  border-radius: 25px;
  width: 321px;

  animation: fadeIn 0.3s ease forwards;
}

.header {
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--task-header);
  border-radius: 25px 25px 0px 0px;
  justify-content: flex-end
}

.closeButton {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--glass-stroke);
  box-shadow: none;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-lg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}
