.priorityMenuContainer {
  position: relative;
  display: inline-block;
}

.priorityButton {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--glass-stroke);
  box-shadow: none;

  .buttonIcon {
    width: 14px;
    height: 14px;
  }
}

.colorCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: currentColor;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--menu-color);
  border-radius: 15px;
  box-shadow: var(--task-box-shadow);
  z-index: 10;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;

  button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    border: 1px solid var(--white-color);

    padding: 0;

    &.active {
      border: 2px solid var(--main-color);
    }
  }
}
