$pulse-start: rgba(255, 255, 255, 0.4);
$pulse-middle: rgba(255, 255, 255, 0.2);

@keyframes pulse {
  0% {
    background-color: $pulse-start;
  }
  50% {
    background-color: $pulse-middle;
  }
  100% {
    background-color: $pulse-start;
  }
}

.boardSkeleton {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-lg);
  padding: 40px 40px;
  flex: 1;
}

.column {
  width: 321px;
  padding: var(--spacing-md);
  background: var(--glass-effect);
  border-radius: var(--section-border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: flex-end;
}

.columnTitle {
  height: var(--spacing-xl);
  width: 40%;
  border-radius: var(--button-border-radius);
  animation: pulse 2s infinite;
}

.card {
  height: 140px;
  width: 100%;
  border-radius: var(--section-border-radius);
  animation: pulse 2s infinite;
}
