@use './styles/variables.scss' as *;
.container {
  height: 100%;
  background: var(--bg-image) center / auto no-repeat, var(--background-color);
  // padding: $spacing-lg;
  min-width: max-content;

  &.dark {
    background-color: $dark-bg;
  }
}
