.userMenu {
  position: relative;
}

.userButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: none;
  padding: 0.3rem;
  
  &:hover {
    background: var(--glass-effect);
  }
}

.userIcon {
  font-size: 1.8rem;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.25rem;
  background: var(--glass-effect);
  border-radius: 25px;
  padding: 0.5rem;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition:
    opacity 0.3s,
    transform 0.3s;
  box-shadow: var(--task-box-shadow);

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.logoutButton {
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
