@use "../../styles/variables.scss" as *;

.userMenu {
  position: relative;
}

.userButton {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  background: none;
  &:hover{
    background: none;
    opacity: 0.7;
  }
}

.userIcon {
  font-size: 1.8rem;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: $spacing-xs;
  background: white;
  border-radius: $border-radius-md;
  box-shadow: $shadow-md;
  padding: $spacing-sm;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
  box-shadow: 3px 3px 3px black;

  .dark & {
    color: $dark-text;
    background-color: $dark-main;
  }

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  background: none;
  border: none;
  font-size: $font-size-lg;
  width: 100%;
  padding: $spacing-xs;
  color: $light-text;

  .dark & {
    color: $dark-text;
  }

  &:hover {
    opacity: 0.7;
  }
}
